
@using Zimbra.Social.SitecoreSDK.Samples.MVC.Models
@model Zimbra.Social.SitecoreSDK.Samples.MVC.Models.CommentModel

@if (Model != null)
{
  
    <div class="comments">
        <h3>Comments</h3>
        <div class="add-comment">
            @using (Html.BeginForm("Create", "Comment", FormMethod.Post))
            {
                <div class="commnet-body">
                    @Html.TextAreaFor(m => m.CommentCreateModel.Body)
                </div>
                <div class="comment-submit"><input type="submit" value="Post" /></div>
            }
        </div>
        <ul class="comment-list">
            @foreach (var comment in Model.Comments)
            {
                <li>
                    <div class="comment-header">
                        <ul class="comment-meta">
                            <li class="author">@comment.User.DisplayName</li>
                            <li class="post-date">@DateTime.Parse(comment.CreatedDate).ToString("f")</li>
                        </ul>
                    </div>
                    @Html.Raw(comment.Body)
                </li>
            }
        </ul>
    </div>
}

