@model Telligent.SitecoreSDK.Samples.MVC.Models.SocialModel

@if (Model != null)
{ 
    <div class="row">
        <div class="col-md-1">
            @Html.Action("LikeList", "Social", Model)
        </div>

        <div class="col-md-11">
            @Html.Action("RateShow", "Social", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.Action("CommentList", "Social", Model)
        </div>
    </div>
}
