@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Zimbra.Social.SitecoreSDK.Samples.MVC
@using Sitecore.Mvc.Presentation

<!DOCTYPE html>
<html>
<head>
  <title>Community Server SDK Sitecore Examples</title>
  @Html.Sitecore().VisitorIdentification()
    <!-- Latest compiled and minified CSS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <div class="container">
            @Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName
            @RenderBody()
        </div> <!-- /container -->
    </body>
</html>