body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;

}
.rounded,ul.comment-list li.comment-list-item{ border: 1px solid #dcdcdc;border-radius: 10px;padding: 10px;margin-bottom: 5px;}
.author{ font-weight: bold;}
.meta{border-bottom:solid 1px #dcdcdc}
.bold-round{border: 3px solid #dcdcdc;}
.answered{border: 3px solid #dff0d8;}
.suggested{border: 3px solid #fcf8e3;}